---
import Page from "../components/Page.astro";
import SiteHeader from "../components/SiteHeader.astro";

const title = "SpringMicroHost Helper";
const description = "Setting up a yellow page";
---

<Page {title} {description}>
  <SiteHeader />

  <div class="flex justify-center">
    <div class="text-lg w-5/6 lg:w-3/4">
      <h1 class="my-6 font-semibold">
        {description}
      </h1>
      <p class="my-6">
        Click on the links above. The eCommerce is done, the other is not.
      </p>
    </div>
  </div>
</Page>
